.ES-form-section {
    height: 100vh;
    justify-content: center;
    background-color: var(--black10-color);
}
.ES-inputs{
    width: 70%;
}
.ES-input{
    color: var(--white-color);
    background-color: var(--gray15-color);
    border: 1px solid #262626;
    padding: 12px;
    border-radius: 88px;
    width: 100%;
}
.ES-input:focus{
    outline: none;
    border: 1px solid var(--white-color);
}
.ES-custom-btn{
    width: 50.48732943469786%;
    padding: 12px;
    border-radius: 63px;
    border: none;
    text-align: center;
}
@media(max-width: 992px){
    .ES-form-section {
        align-items: center;
    }
    .ES-inputs{
        flex-wrap: wrap;
    }
    .ES-custom-btn{
        width: 100%;
    }
}